
@model IEnumerable<DreamHoliday.Models.Bien>

<img id="chargement" src="~/img/loaders/ajax-loader.gif" style="display: none" alt="Chargement en cours..." class="col-md-offset-5 col-md-2 col-md-offset-5" />
<div id="mesBiens">
    @Html.Partial("~/Views/Bien/_mesBiens.cshtml")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryui-datepicker-fr")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">


        $('.btnDelete').click(function () {
            $("#chargement").show();
            var idBien = $(this).attr("id")
            alert(idBien);
            $.ajax({
                type: 'POST',
                datatype: 'html',
                url: '@Url.Action("DeleteBien", "Bien")',
                data: { idBien },
                success:
                function (response) {
                    $("#chargement").hide();
                    $('#mesBiens').html(response);
                    alert('l article a bien ete supprimé');
                },
                error:
                function () {
                    //$("#chargement").hide();
                    alert("un problème a été détecté...");
                }
            })
        });

        </script>
        }