@model DreamHoliday.Models.editProfile

@{
    ViewBag.Title = "VoirMonProfile";
}


<h2>Mon Profile</h2>



    <form id="formUpdateMembre" enctype="multipart/form-data" method="post">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12 row" style="margin-top:5%">




                <section class="col-md-3">
                    <div>
                        <img id="photo" src="~/img/Membres/photo@(Model.idMembre).jpg" style="width:100%" class="img-circle" />
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.photo, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="file" name="monfichier" value="photooo" id="btnImportPhoto" />

                        </div>
                    </div>
                </section>

                <section class="col-md-6">


                    <div class="form-group ">
                        @Html.LabelFor(model => model.idMembre, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input id="idMembre" name="idMembre" value="@Model.idMembre" class="form-control" readonly="readonly" />
                            @Html.ValidationMessageFor(model => model.idMembre, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                            <span id="errorNom" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                            <span id="errorPrenom" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.adresse, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control" } })
                            <span id="errorAdresse" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.dateDeNaissance, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div id="dateDeNaissance" class="col-md-8">
                            <input type="text" id="dateNaiss" name="dateNaiss" style="display:none" />
                            <div id="jour" >@Html.DropDownList("listeJours", (SelectList)ViewBag.ListedatesJours, new { @class = "col-md-3 form-controlDateNaissance" })</div>
                            <div id="mois">@Html.DropDownList("listeMois", (SelectList)ViewBag.ListedatesMois, new { @class = "form-controlDateNaissance col-md-3 col-md-offset-1 " })</div>
                            <div id="annee">@Html.DropDownList("listeAnnees", (SelectList)ViewBag.ListedatesAnnees, new { @class = "form-controlDateNaissance col-md-3 col-md-offset-1 " })</div>
                        </div>
                    </div>

                    <div class="form-group ">
                        @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                            <span id="errorTelephone" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                            <span id="errorMail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btnModifier" type="button" value=@Resource.modifier class="btn btn-warning col-md-12" style="margin-top:5%" />
                        </div>
                    </div>



                </section>

                <nav class="col-md-3">

                    <ul class="list-group" style="list-style-type:none">
                        @{
                            <li>
                                <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" onclick="location.href = '@Url.Action("addNewBien", "Bien")'">@Resource.btnNvBien</button>
                            </li>

                            if (Model.estProprietaire == false)
                            {
                                <li>
                                    <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" disabled="disabled">@Resource.vousAvezPasDeBien1 <br />@Resource.vousAvezPasDeBien2</button>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" onclick="location.href = '@Url.Action("VoirMesBiens", "Bien")'">@Resource.mesBiens</button>
                                </li>
                            }

                            if (ViewBag.nombreLoc > 0)
                            {
                                <li>
                                    <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" onclick="location.href = '@Url.Action("mesLocations", "Membre")'">@Resource.mesLocations</button>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" disabled="disabled">@Resource.vousAvezPasDeLoc1 <br />@Resource.vousAvezPasDeLoc2</button>
                                </li>
                            }

                            if (ViewBag.nbMsg == 0)
                            {
                                <li>
                                    <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" disabled="disabled">@Resource.vousAvezPasDeMsg1 <br />@Resource.vousAvezPasDeMsg2 <i class="glyphicon glyphicon-envelope"></i></button>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <button type="button" id="msg" class="btnProfile btn btn-warning col-md-12 " style="margin-bottom:5%" onclick="location.href = '@Url.Action("mesMessages", "Membre")'">@Resource.mesMessages  <i class="glyphicon glyphicon-envelope"></i></button>
                                </li>
                            }
                        }
                    </ul>
                </nav>


            </div>

        </div>
        
        </form>

        <div>
            @Html.ActionLink("Retour", "Index")
        </div>

        <img id="chargement" src="~/img/loaders/infini.gif" style="display: none" alt="Chargement en cours..." class="loaderRecherche col-md-offset-5 col-md-2 col-md-offset-5" />

        <div id="Modal" style="display:none">
            <p id="modalTexte" class="modal-contents">@Resource.Error_tableVide</p>
        </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/datatables")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
            @Scripts.Render("~/bundles/jqueryui-datepicker-fr")
            @Styles.Render("~/Content/cssjqryUi")
            @Scripts.Render("~/bundles/jquery-ui")

            <script type="text/javascript">

        $(document).ready(function () {
            var jour = $('#listeJours').val();
            var mois = $('#listeMois').val();
            var annee = $('#listeAnnees').val();

            var dateNaiss = jour + "/" + mois + "/" + annee;
            $('#dateNaiss').val(dateNaiss);
        });

        function verifForm(mail, nom, prenom, adresse, telephone) {

            if (mail == "") {
                $('#errorMail').html("mail requis")
            }
            else {
                $('#errorMail').html("")
            }
            if (nom == "") {
                $('#errorNom').html("mail requis")
            }
            else {
                $('#errorNom').html("")
            }
            if (prenom == "") {
                $('#errorPrenom').html("mail requis")
            }
            else {
                $('#errorPrenom').html("")
            }
            if (adresse == "") {
                $('#errorAdresse').html("mail requis")
            }
            else {
                $('#errorAdresse').html("")
            }
            if (telephone == "") {
                $('#errorTelephone').html("mail requis")
            }
            else {
                $('#errorTelephone').html("")
            }
        }

        $('#btnModifier').click(function () {
                    var mail = $('#mail').val();
                    var nom = $('#nom').val();
                    var prenom = $('#prenom').val();
                    var adresse = $('#adresse').val();
                    var telephone = $('#telephone').val();

                    if (mail == "" ||  nom == "" || prenom == "" || adresse == "" || telephone == "")
                    {
                        verifForm(mail, nom, prenom, adresse, telephone)
                    }
                    else {
                        $("#chargement").show();
                        var formData = new FormData($('#formUpdateMembre')[0]);
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("updateMembre", "Membre")',
                            data: formData,
                            processData: false,
                            contentType: false,
                            contentType: false,
                            success:
                            function (response) {
                                $("#chargement").hide();
                                $('#Modal').html("@Resource.messagecompteMAJ");
                                $('#Modal').dialog({
                                    open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                                    resizable: false,
                                    height: "auto",
                                    width: "400",
                                    modal: true,
                                    title: '@Resource.merci',
                                    buttons: {
                                        "ok": function () {
                                            $(this).dialog("close");
                                            url: "http://dreamholiday.azurewebsites.net"
                                        }

                                    }
                                })
                            },
                            error:
                            function () {
                                $("#chargement").hide();
                                $('#Modal').html("@Resource.probleme");
                                $('#Modal').dialog({
                                    open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                                    resizable: false,
                                    height: "auto",
                                    width: "400",
                                    modal: true,
                                    title: '@Resource.desole',
                                    buttons: {
                                        "ok": function () {
                                            $(this).dialog("close");
                                        }

                                    }
                                })
                            }
                        })
                    }


                })



        var dateInit = $('#dateDeNaissance').val();

        $('#dateDeNaissance').change(function () {
            var jour = $('#listeJours').val();
            var mois = $('#listeMois').val();
            var annee = $('#listeAnnees').val();

            var dateNaiss = jour + "/" + mois + "/" + annee;
            $('#dateNaiss').val(dateNaiss);
        });




        //$('#dateDeNaissance').datepicker({
        //    dateFormat: "dd-mm-yy",
        //    changeMonth: true,
        //    changeYear: true,
        //    yearRange: "-100:+0",
        //    showTime: false,
        //    showAnim: "clip",
        //    defaultDate: dateInit
        //});

        var dateInit = $('#dateDeNaissance').datepicker('getDate');



        $('#msg').click(function () {
            var prob = $('#prob').val();
            if (prob == 1) {
                $("#messageErreur").dialog({
                    modal: true,
                    title: "connection impossible",
                });
            }

        });
        // récupere l'image pour l'afficher en preview

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        };

        $("#btnImportPhoto").change(function () {
            readURL(this);
        });





            </script>


        }
